.contact-container {
    position: absolute;
    top: 114px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: calc(100vh - 114px);
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    grid-template-rows: repeat(2, 1fr) auto;
}

.rect {
    grid-column: 2;
    grid-row: 1/3;
    background-color: #30303D;
}

.contact {
    padding-top: 92px;
    padding-left: 77px;
    padding-right: 130px;
    padding-bottom: 90px;
    background-color: #101013;
    font-weight: 300;
}

.contact h1 {
    font-weight: bold;
}

.footer {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px;
}

.footer p {
    margin: 0;
    padding-right: 30px;
    color: #95959B;
}

.social-item img {
    width: 33px;
    height: 33px;
    color: white;

}


@media (max-width: 500px) {    
    .contact-container {
        top: 160.6px;
        height: calc(100vh - 160.6px);
    }    
}

@media (max-width: 425px) {
    .contact {
        /* TBW */
    }
    
    .footer {
        padding: 25px 50px;
    }
}