.main {  
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 375px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/oleg-ivanov-5j5zOvecrkU-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main > * {
  text-align: left;
  margin: 0;
}

.main h2 {
  font-size: 43px;
}

.main h1 {
  font-size: 139px;
  margin-top: -15px;
}

.about {
  margin-top: 40px;
  position: relative;
}

.about::after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(-100% - 10px);
  width: 100px;
  height: 2px;
  background-color: white;
}