.talents-container {
    padding-top: 20px;
}

.talents-container h1 {
    margin: 0;
    font-size: 124px;
    font-weight: bold;
    opacity: 0.1;
    text-align: center;
}

.talents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.talents-item {
    width: 312px;
    height: 484px;
    margin-bottom: 100px;
    margin-left: 120px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));    
}

.talents-info {
    position: absolute;
    bottom: 32px;
    left: -30px; 
}

.talents-info > * {
    margin: 0;
}

.talents-info h2 {
    margin-bottom: 12px;
    font-size: 30px;
}

.talents-info p {
    font-size: 22px;
}

@media (max-width: 1440px) {
    .talents-container h1 {
        font-size: 100px;
    }

    .talents-item {
        width: 249.6px;
        height: 387.2px;
        margin-bottom: 100px;
        margin-left: 100px;
    }
}

@media (max-width: 1024px) {
    .talents-container h1 {
        font-size: 75px;
    }

    .talents-item {
        width: 187.2px;
        height: 290.4px;
        margin-bottom: 100px;
        margin-left: 75px;
    }

    .talents-info h2 {
        font-size: 24px;
    }
    
    .talents-info p {
        font-size: 18px;
    }
}

@media (max-width: 624px) {
    .talents-item {
        width: 249.6px;
        height: 387.2px;
        margin-bottom: 50px;
        margin-left: 15px;
    }
}

@media (max-width: 375px) {
    .talents-info {
        position: absolute;
        bottom: 32px;
        left: -10px; 
    }
}